#content1-page {
  .card {
    position: relative;
    width: rem(960);
    height: rem(1688);
    margin: 0 auto;
    padding: rem(95) rem(45) 0;
    z-index: 2;
    @include bg-cov("../images/general/backdrop-back.png");
  }

  .invite {
    &__title {
      opacity: 0;
      position: relative;
      width: fit-content;
      font-family: $font-quentin;
      text-shadow: -1px 0 #b3917b;
      font-size: rem(96);
      margin: 0 auto;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: rem(180);
        height: 1px;
        top: calc(50% - 0.75px);
        background-color: #b3917b;
      }

      &::before {
        left: rem(-230);
      }
      &::after {
        right: rem(-230);
      }
    }
    &__subtitle {
      opacity: 0;
      width: rem(348);
      font-family: $font-adobe;
      font-size: rem(24);
      margin: 0 auto;
    }
    &__image {
      opacity: 0;
      width: rem(864);
      height: rem(540);
      margin: rem(41) auto 0;
    }
  }

  .countdown {
    margin: rem(108) auto 0;
    &__title {
      opacity: 0;
      font-size: rem(72);
    }
    &__subtitle {
      opacity: 0;
      position: relative;
      width: fit-content;
      font-size: rem(42);
      margin: rem(20) auto 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: rem(180);
        height: 1px;
        top: calc(50% - 0.75px);
        background-color: #b3917b;
      }

      &::before {
        left: rem(-267);
      }
      &::after {
        right: rem(-267);
      }
    }
    &__desc {
      opacity: 0;
      font-family: $font-adobe;
      font-size: rem(36);
      width: rem(740);
      margin: rem(41) auto 0;
    }

    .countdown-times {
      opacity: 0;
      width: rem(870);
      @include flex;
      justify-content: space-between;
      margin: rem(70) auto 0;
      .time {
        width: rem(180);
        height: rem(180);
        color: #ffffff;
        background-color: #d9d9d9;
        @include flex-center;
        flex-direction: column;

        .timer {
          font-size: rem(86);
        }
        .title {
          font-size: rem(24);
        }
      }
    }
  }
}
