#content2-page {
  .card {
    opacity: 0;
    position: relative;
    width: rem(960);
    height: rem(1688);
    margin: 0 auto;
    padding: rem(129) rem(45) 0;
    @include bg-cov("../images/general/backdrop-back.png");
  }

  .schedule {
    margin: 0 auto;
    &__subtitle {
      opacity: 0;
      font-family: $font-noto;
      font-size: rem(36);
      font-weight: 400;
    }
    &__title {
      opacity: 0;
      position: relative;
      width: fit-content;
      margin: 0 auto;
      font-size: rem(48);

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: rem(145);
        height: 1px;
        top: calc(50% - 0.75px);
        background-color: #b3917b;
      }

      &::before {
        left: rem(-171);
      }
      &::after {
        right: rem(-171);
      }
    }

    .group-detail {
      opacity: 0;
      width: rem(643);
      @include flex;
      justify-content: space-between;
      margin: rem(48) auto 0;
      .detail {
        &__image {
          width: rem(142);
          height: rem(142);
          margin: 0 auto rem(15);
        }

        &__time,
        &__text {
          font-family: $font-noto;
          font-size: rem(24);
          font-weight: 600;
        }
      }
    }
  }

  .map {
    &__pin {
      opacity: 0;
      width: rem(68);
      height: rem(68);
      margin: rem(68) auto 0;
      @include bg-cov("../images/pages/content2-page/pin.png");
    }
    &__title {
      opacity: 0;
      font-family: $font-noto;
      font-weight: 700;
      margin: rem(30) auto 0;
    }
    &__subtitle {
      opacity: 0;
      font-family: $font-noto;
      font-size: rem(24);
    }
    &__google-map {
      opacity: 0;
      width: rem(864);
      height: rem(650);
      border: 0;
      margin: rem(60) auto 0;
    }
  }
}
