#welcome-page {
  .envlope-wrapper {
    display: none;
    @include flex-center;
    @include fill-area;
    &__inner {
      position: relative;
      width: fit-content;
      height: fit-content;
    }

    $color-env: #ffd79a;
    $color-env2: darken($color-env, 3%);
    $color-flap: darken($color-env, 8%);
    $color-bg: lighten($color-env, 48%);
    $color-heart: #d00000;

    $env-border-radius: 6px;
    $env-width: 280px;
    $env-height: 180px;
    $heart-width: 50px;

    #envelope {
      position: relative;
      width: $env-width;
      height: $env-height;
      border-bottom-left-radius: $env-border-radius;
      border-bottom-right-radius: $env-border-radius;
      // margin-left: auto;
      // margin-right: auto;
      // top: 150px;
      background-color: $color-flap;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    .front {
      position: absolute;
      width: 0;
      height: 0;
      z-index: 3;
    }
    .flap {
      border-left: calc($env-width / 2) solid transparent;
      border-right: calc($env-width / 2) solid transparent;
      border-bottom: calc(($env-height / 2) - 8px) solid transparent; /* a little smaller */
      border-top: calc(($env-height / 2) + 8px) solid $color-flap; /* a little larger */
      transform-origin: top;
      pointer-events: none;
    }
    .pocket {
      border-left: calc($env-width / 2) solid $color-env;
      border-right: calc($env-width / 2) solid $color-env;
      border-bottom: calc($env-height / 2) solid $color-env2;
      border-top: calc($env-height / 2) solid transparent;
      border-bottom-left-radius: $env-border-radius;
      border-bottom-right-radius: $env-border-radius;
    }
    .letter {
      position: relative;
      background-color: #fff;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      height: 90%;
      top: 5%;
      border-radius: $env-border-radius;
      box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
    }
    .letter:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 25%,
        rgba(215, 227, 239, 0.7) 55%,
        rgba(215, 227, 239, 1) 100%
      );
    }
    .words {
      position: absolute;
      left: 10%;
      width: 80%;
      height: 14%;
      background-color: #eeeff0;
    }
    .words.line1 {
      top: 15%;
      width: 20%;
      height: 7%;
    }
    .words.line2 {
      top: 30%;
    }
    .words.line3 {
      top: 50%;
    }
    .words.line4 {
      top: 70%;
    }
    .open .flap {
      transform: rotateX(180deg);
      transition: transform 0.4s ease, z-index 0.6s;
      z-index: 1;
    }
    .close .flap {
      transform: rotateX(0deg);
      transition: transform 0.4s 0.6s ease, z-index 1s;
      z-index: 5;
    }
    .close .letter {
      transform: translateY(0px);
      transition: transform 0.4s ease, z-index 1s;
      z-index: 1;
    }
    .open .letter {
      transform: translateY(calc($env-height / 3) * -1);
      transition: transform 0.4s 0.6s ease, z-index 0.6s;
      z-index: 2;
    }

    .a1 {
      left: 20%;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      -webkit-animation: slideUp 4s linear 1,
        sideSway 2s ease-in-out 4 alternate;
      -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
      animation-fill-mode: forwards;
      animation-delay: 0.7s;
    }
    .a2 {
      left: 55%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      -webkit-animation: slideUp 5s linear 1,
        sideSway 4s ease-in-out 2 alternate;
      -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
      animation-fill-mode: forwards;
      animation-delay: 0.7s;
    }
    .a3 {
      left: 10%;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 1;
      -webkit-animation: slideUp 7s linear 1,
        sideSway 2s ease-in-out 6 alternate;
      -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
      animation-fill-mode: forwards;
      animation-delay: 0.7s;
    }

    @-webkit-keyframes slideUp {
      0% {
        top: 0;
      }
      100% {
        top: -600px;
      }
    }
    @keyframes slideUp {
      0% {
        top: 0;
      }
      100% {
        top: -600px;
      }
    }
    @-webkit-keyframes sideSway {
      0% {
        margin-left: 0px;
      }
      100% {
        margin-left: 50px;
      }
    }
    @keyframes sideSway {
      0% {
        margin-left: 0px;
      }
      100% {
        margin-left: 50px;
      }
    }

    .ins {
      width: rem(350);
      height: rem(200);
      position: absolute;
      left: calc(50% - (rem(350) / 2));
      top: calc(50% - (rem(250) / 2));
      background-color: $white;
      z-index: 5;
      padding: rem(20);
      color: #585858;

      &::after {
        content: "";
        position: absolute;
        width: rem(320);
        height: rem(170);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 0.5px #929292;
      }

      &__sub {
        font-family: $font-good-vibrations;
        font-size: rem(38);

        &--small {
          font-size: rem(24);
        }
      }

      &__main {
        font-size: rem(30);
        padding: rem(5);
        @include flex-center;
      }
    }

    .envelope-back {
      position: absolute;
      width: $env-width;
      height: $env-height;
      background-color: $color-env2;
      left: 0;
      top: 0;
    }

    .envelope-front,
    .envelope-back {
      backface-visibility: hidden;
      transition: all 2s;
    }

    .rotation {
      transform: rotateY(180deg);
    }
  }

  .card {
    opacity: 0;
    position: relative;
    width: rem(879);
    height: rem(1688);
    margin: 0 auto;
    padding: rem(85) 0 0;
    z-index: 2;
    @include bg-cov("../images/general/backdrop.png");

    .card-vactor {
      opacity: 0;
      position: absolute;
      z-index: 3;
      animation: rotate-vactor 2s ease-in-out infinite;
      animation-delay: 2s;
      &__1 {
        width: rem(80);
        height: rem(81);
        top: rem(1408);
        right: rem(99);
        @include bg-cov("../images/pages/welcome-page/vactor1.png");
      }
      &__2 {
        width: rem(83);
        height: rem(106);
        top: rem(1154);
        right: rem(88);
        @include bg-cov("../images/pages/welcome-page/vactor2.png");
      }
      &__3 {
        width: rem(79);
        height: rem(85);
        top: rem(821);
        right: rem(73);
        @include bg-cov("../images/pages/welcome-page/vactor3.png");
      }
      &__4 {
        width: rem(102);
        height: rem(84);
        top: rem(656);
        right: rem(101);
        @include bg-cov("../images/pages/welcome-page/vactor4.png");
      }
      &__5 {
        width: rem(80);
        height: rem(84);
        top: rem(551);
        left: calc(50% - rem(40));
        @include bg-cov("../images/pages/welcome-page/vactor5.png");
      }
      &__6 {
        width: rem(74);
        height: rem(85);
        top: rem(697);
        left: rem(97);
        @include bg-cov("../images/pages/welcome-page/vactor6.png");
      }
      &__7 {
        width: rem(72);
        height: rem(106);
        top: rem(968);
        left: rem(61);
        @include bg-cov("../images/pages/welcome-page/vactor7.png");
      }
      &__8 {
        width: rem(77);
        height: rem(84);
        top: rem(1194);
        left: rem(68);
        @include bg-cov("../images/pages/welcome-page/vactor8.png");
      }
      &__9 {
        width: rem(73);
        height: rem(102);
        top: rem(1397);
        left: rem(106);
        @include bg-cov("../images/pages/welcome-page/vactor9.png");
      }
    }

    .card {
      &__texts {
        position: relative;
        z-index: 3;
        margin: 0 auto;
        .text-desc {
          opacity: 0;
          font-family: $font-pt-sans;
          font-size: rem(24);
          line-height: rem(31);
          color: $brown;
        }
        .text-name {
          opacity: 0;
          font-family: $font-good-vibrations;
          font-size: rem(96);
          line-height: rem(134);
          color: $brown;
          margin: rem(21) auto;
        }

        .group-date {
          opacity: 0;
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: rem(55);
          margin: rem(33) auto 0;

          .text-date {
            font-family: $font-angsana;
            font-size: rem(48);
            color: $brown;

            &--bold {
              font-family: $font-amethysta;
              font-size: rem(96);
              color: $brown;
            }
          }
        }
      }

      &__main {
        opacity: 0;
        position: absolute;
        width: rem(616);
        height: rem(960);
        @include bg-cov("../images/pages/welcome-page/main.png");
        z-index: 3;
        top: rem(555);
        left: calc(50% - rem(308));
      }
    }
  }

  .pagination {
    opacity: 0;
  }

  @keyframes rotate-vactor {
    0%,
    100% {
      transform: rotate(0deg);
    }
    12.5% {
      transform: rotate(-15deg);
    }
    37.5% {
      transform: rotate(15deg);
    }
    62.5% {
      transform: rotate(-15deg);
    }
    87.5% {
      transform: rotate(15deg);
    }
  }
  @keyframes scroll-background {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
