$menuHeader: rem(180);
$menuHeader-m: rem(360);
.menu-overlay {
  @include absolute-fill-area;
  @include bg-cov("../images/general/menu-bg.jpg");
  @include for-mobile {
    @include bg-cov("../images/general/menu-bg-m.jpg");
  }
  z-index: $menu-index;
  display: none;

  .menu {
    position: relative;
    height: 100%;
    width: 100%;

    .group-title {
      padding-top: rem(35);
      height: $menuHeader-m;
      .text-title {
        text-align: center;
        text-transform: uppercase;
        font-size: rem(48);
        font-weight: $book;
        letter-spacing: rem(5);
      }
    }

    .menu_list {
      height: calc(100% - #{$menuHeader});
      overflow: auto;

      @include for-mobile {
        height: calc(100% - #{$menuHeader-m});
      }

      &::-webkit-scrollbar-thumb {
        background: $black;
        border-radius: 0;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          position: relative;
          text-align: center;
          list-style: none;
          cursor: pointer;
          text-transform: uppercase;
          font-size: rem(24);
          margin-bottom: rem(88);
          @include flex-center;
          flex-direction: column;
          @include for-mobile {
            font-size: rem(36);
            margin-bottom: rem(88);
          }
          .text {
            color: #c7c7c7;
            text-align: center;
            font-weight: $light;
            font-size: rem(42);
            font-style: normal;
            line-height: rem(80);
            letter-spacing: rem(12.6);
            text-transform: uppercase;

            &:nth-child(2) {
              padding-top: rem(40);
            }

            &.active {
              color: #fff;
              text-shadow: 0px 0px rem(42) rgb(255, 255, 255);
            }
          }
          .title {
            padding-top: rem(78);
            text-align: center;
            font-weight: $medium;
            font-size: rem(48);
            letter-spacing: rem(14.4);
          }

          &.locked {
            pointer-events: none;
            opacity: 0.5;
            cursor: default;
            &.locked--2 {
              opacity: 0.3;
            }
            &.locked--3 {
              opacity: 0.2;
            }
            &.locked--4 {
              opacity: 0.1;
            }
            .title {
              font-weight: $book;
            }
          }

          &.active {
            .title {
              font-weight: $heavy;
            }
          }
        }
      }
    }

    .close {
      position: absolute;
      top: rem(44);
      left: rem(48);
      cursor: pointer;
      z-index: 2;
      width: rem(42);
      height: rem(42);
    }
  }
}
