/*  ==================================================
    button
  
     - basic html -
    <button class="btn" type="button" lcz="text-button"></button>
  
    - common usage -
    $(".btn").pulse();
    $(".btn").pulseTwices();
    $(".btn").on("click", function() {
      console.log("click"); 
    });

================================================== */

$btnWidthD: rem(200);
$btnHeightD: rem(70);

$background: $brown;
$pulseBackground: $grey;

button {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}

.btn {
  width: 100%;
  max-width: $btnWidthD;
  background-color: $pulseBackground;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  min-height: $btnHeightD;
  padding: rem(5) rem(25);
  background-color: $background;
  color: $white;
  font-family: $font-pt-sans;
  font-size: rem(26);
  font-weight: $light;
  letter-spacing: 0.03em;
  border: rem(3) solid $white;
  border-radius: rem(16);

  &:hover {
    opacity: 0.85;
  }
}
