.pagination {
  position: absolute;
  bottom: rem(30);
  right: rem(30);
  z-index: 2;
  .arrow {
    @include flex-center-column;
    gap: rem(32);
    z-index: 4;

    &__up {
      display: inline-block;
      transition: all 0.4s;
      width: rem(43);
      height: rem(35);
      @include bg-cov("../images/general/arrow-up.png");

      &.lock {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &__down {
      display: inline-block;
      transition: all 0.4s;
      width: rem(43);
      height: rem(35);
      @include bg-cov("../images/general/arrow-down.png");

      &.lock {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}

.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: rem(30);
  &__down {
    width: rem(43);
    height: rem(35);
    @include bg-cov("../images/general/arrow-down.png");

    &.lock {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
