.pagination {
  position: absolute;
  bottom: rem(43);
  right: rem(40);

  .arrow {
    @include flex-center-column;
    gap: rem(32);

    &__up {
      display: inline-block;
      transition: all 0.4s;

      width: rem(43);
      height: rem(35);
      @include bg-cov("../images/general/arrow-up-m.png");

      &.lock {
        pointer-events: none;
        @include bg-cov("../images/general/arrow-up-m-lock.png");
      }
    }

    &__down {
      display: inline-block;
      transition: all 0.4s;

      width: rem(43);
      height: rem(35);
      @include bg-cov("../images/general/arrow-down-m.png");

      &.lock {
        pointer-events: none;
        opacity: 0.4;
      }
    }
  }
}
