<div id="content3-page" class="page">
  <div class="scroll-inner">
    <div class="content-inner">
      <div class="card">
        <div class="theme">
          <h5 class="theme__subtitle">ธีมงาน</h5>
          <h4 class="theme__title">wedding theme</h4>
          <div class="theme-colors">
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Thresher Shark</div>
              <div class="theme-color__code">#93C6E7</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Cinderella Pink</div>
              <div class="theme-color__code">#FFC5C5</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Lunar Luxury</div>
              <div class="theme-color__code">#FBF3D5</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Cocoa Powder</div>
              <div class="theme-color__code">#776B5D</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Silver Bullet</div>
              <div class="theme-color__code">#B4B4B8</div>
            </div>
          </div>
        </div>
        <div class="gallery">
          <h5 class="gallery__subtitle">แกลเลอรี่พิเศษ</h5>
          <h4 class="gallery__title">SPECIAL GALLERY</h4>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="album">
                  <div class="album-block ">
                    <img class="img" src="images/pages/content3-page/image1.jpg">
                    <img class="img" src="images/pages/content3-page/image2.jpg">
                    <img class="img" src="images/pages/content3-page/image3.jpg">
                  </div>
                  <div class="album-block ">
                    <img class="img img-big" src="images/pages/content3-page/image4.jpg">
                    <img class="img img-big" src="images/pages/content3-page/image5.jpg">
                  </div>
                  <div class="album-block ">
                    <img class="img" src="images/pages/content3-page/image6.jpg">
                    <img class="img" src="images/pages/content3-page/image7.jpg">
                    <img class="img" src="images/pages/content3-page/image8.jpg">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="album">
                  <div class="album-block ">
                    <img class="img" src="images/pages/content3-page/image9.jpg">
                    <img class="img" src="images/pages/content3-page/image10.jpg">
                    <img class="img" src="images/pages/content3-page/image11.jpg">
                  </div>
                  <div class="album-block ">
                    <img class="img img-big" src="images/pages/content3-page/image12.jpg">
                    <img class="img img-big" src="images/pages/content3-page/image13.jpg">
                  </div>
                  <div class="album-block ">
                    <img class="img" src="images/pages/content3-page/image14.jpg">
                    <img class="img" src="images/pages/content3-page/image15.jpg">
                    <img class="img" src="images/pages/content3-page/image16.jpg">
                  </div>
                </div>
              </div>
            </div>
      
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
