<div id="content3-page" class="page">
  <div class="scroll-inner">
    <div class="content">
      <div class="card">
        <div class="theme">
          <h5 class="theme__subtitle">ธีมงาน</h5>
          <h4 class="theme__title">wedding theme</h4>
          <div class="theme-colors">
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Thresher Shark</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Cinderella Pink</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Lunar Luxury</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Cocoa Powder</div>
            </div>
            <div class="theme-color">
              <div class="theme-color__color"></div>
              <div class="theme-color__title">Silver Bullet</div>
            </div>
          </div>
        </div>

        <div class="gallery">
          <h5 class="gallery__subtitle">แกลเลอรี่พิเศษ</h5>
          <h4 class="gallery__title">SPECIAL GALLERY</h4>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="album">
                  <div class="album-block">
                    <a
                      href="images/pages/content3-page/image1.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image1.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image2.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image2.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image3.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image3.jpg"
                      />
                    </a>
                  </div>
                  <div class="album-block">
                    <a
                      href="images/pages/content3-page/image4.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img img-big"
                        src="images/pages/content3-page/image4.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image5.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img img-big"
                        src="images/pages/content3-page/image5.jpg"
                      />
                    </a>
                  </div>
                  <div class="album-block">
                    <a
                      href="images/pages/content3-page/image6.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image6.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image7.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image7.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image8.jpg"
                      data-lightbox="album1"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image8.jpg"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="album">
                  <div class="album-block">
                    <a
                      href="images/pages/content3-page/image9.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image9.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image10.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image10.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image11.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image11.jpg"
                      />
                    </a>
                  </div>
                  <div class="album-block">
                    <a
                      href="images/pages/content3-page/image12.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img img-big"
                        src="images/pages/content3-page/image12.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image13.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img img-big"
                        src="images/pages/content3-page/image13.jpg"
                      />
                    </a>
                  </div>
                  <div class="album-block">
                    <a
                      href="images/pages/content3-page/image14.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image14.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image15.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image15.jpg"
                      />
                    </a>
                    <a
                      href="images/pages/content3-page/image16.jpg"
                      data-lightbox="album2"
                    >
                      <img
                        class="img"
                        src="images/pages/content3-page/image16.jpg"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="rsvp">
          <p class="rsvp-desc">By the 31 Oct. 2024</p>

          <div class="group-title">
            <p class="rsvp-text--italic">please</p>
            <h5 class="rsvp-text">RSVP</h5>
            <p class="rsvp-text--italic">online</p>
          </div>

          <a href="https://forms.gle/FTpvGS4GGKXUPaWn7" target="_blank">
            <button class="btn">Click</button>
          </a>
        </div>
      </div>
      <!-- <div class="pagination">
        <div class="arrow">
          <div class="arrow__up"></div>
          <div class="arrow__down lock"></div>
        </div>
      </div> -->
    </div>
  </div>
</div>
