<div id="content1-page" class="page">
  <div class="scroll-inner">
    <div class="content">
      <div class="card">
        <div class="invite">
          <h4 class="invite__title">IceBank</h4>
          <h5 class="invite__subtitle">
            INVITE YOU TO CELEBRATE THEIR WEDDING
          </h5>
          <img
            class="invite__image"
            src="images/pages/content1-page/image.jpg"
            alt=""
          />
        </div>
        <div class="countdown">
          <h4 class="countdown__title">MONDAY</h4>
          <h5 class="countdown__subtitle">11 NOV 2024</h5>
          <p class="countdown__desc">
            Please join us in celebrating our love and marriage, countdown in…
          </p>
          <div class="countdown-times">
            <div class="time time__days">
              <h4 class="timer">00</h4>
              <p class="title">Days</p>
            </div>
            <div class="time time__hours">
              <h4 class="timer">00</h4>
              <p class="title">Hours</p>
            </div>
            <div class="time time__minutes">
              <h4 class="timer">00</h4>
              <p class="title">Minutes</p>
            </div>
            <div class="time time__seconds">
              <h4 class="timer">00</h4>
              <p class="title">Seconds</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <div class="arrow">
          <div class="arrow__up"></div>
          <div class="arrow__down"></div>
        </div>
      </div>
    </div>
  </div>
</div>
