<div id="invite-page" class="page">
  <div class="container">
    <div class="card">
      <div class="card__texts">
        <p class="text-desc">TOGETHER</p>
        <p class="text-desc">WITH THEIR FAMILIES</p>
        <h2 class="text-name">Panicha & Sukda</h2>
      </div>

      <div class="card__main">
        <div class="card-image"></div>
        <div class="card-vactor card-vactor__1"></div>
        <div class="card-vactor card-vactor__2"></div>
        <div class="card-vactor card-vactor__3"></div>
        <div class="card-vactor card-vactor__4"></div>
        <div class="card-vactor card-vactor__5"></div>
        <div class="card-vactor card-vactor__6"></div>
        <div class="card-vactor card-vactor__7"></div>
        <div class="card-vactor card-vactor__8"></div>
        <div class="card-vactor card-vactor__9"></div>
      </div>

      <div class="card__invite">
        <p class="invite__title">ชื่อแขกผู้มีเกียรติ</p>
        <div class="invite__inputs">
          <p class="invite__name">ชื่อ - นามสกุล :</p>
          <input type="text" class="invite__input" id="input1" />
        </div>
        <div class="invite__inputs">
          <p class="invite__name">ชื่อ - นามสกุล :</p>
          <input type="text" class="invite__input" id="input2" />
        </div>
        <button class="btn invite__button" id="generateQr">เชิญ</button>

        <div class="invite__qrcode-link">
          <div class="invite__qrcode" id="qrcode"></div>
          <div class="invite__link">
            <input type="text" class="invite__input" id="link" />

            <div class="group-btn">
              <button class="btn invite__button" id="downloadQr">
                บันทึก QR
              </button>
              <button class="btn invite__button" id="copyLink">
                คัดลอก link
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
