<div id="welcome-page" class="page" data-menu="0">
  <div class="container">
    <div class="envlope-wrapper">
      <div id="envelope" class="close">
        <div class="ins">Click to open</div>
        <div class="front flap"></div>
        <div class="front pocket"></div>
        <div class="letter">
          <div class="words line1"></div>
          <div class="words line2"></div>
          <div class="words line3"></div>
          <div class="words line4"></div>
        </div>
        <!-- <div class="hearts">
          <div class="heart a1"></div>
          <div class="heart a2"></div>
          <div class="heart a3"></div>
        </div> -->
      </div>

    </div>
    <div class="card">
      <div class="card__texts">
        <p class="text-desc">TOGETHER</p>
        <p class="text-desc">WITH THEIR FAMILIES</p>
        <h2 class="text-name">Panicha & Sukda</h2>
        <p class="text-desc">INVITE YOU TO CELEBRATE</p>
        <p class="text-desc">THEIR WEDDING</p>

        <div class="group-date">
          <h5 class="text-date">MON</h5>
          <div class="flex-column">
            <h5 class="text-date">NOV</h5>
            <h2 class="text-date--bold">11</h2>
          </div>
          <h5 class="text-date">2024</h5>
        </div>
      </div>

      <div class="card__main"></div>

      <div class="card-vactor card-vactor__1"></div>
      <div class="card-vactor card-vactor__2"></div>
      <div class="card-vactor card-vactor__3"></div>
      <div class="card-vactor card-vactor__4"></div>
      <div class="card-vactor card-vactor__5"></div>
      <div class="card-vactor card-vactor__6"></div>
      <div class="card-vactor card-vactor__7"></div>
      <div class="card-vactor card-vactor__8"></div>
      <div class="card-vactor card-vactor__9"></div>
    </div>
    <div class="pagination">
      <div class="arrow">
        <div class="arrow__up lock"></div>
        <div class="arrow__down"></div>
      </div>
    </div>
  </div>
</div>
